# -*- coding: utf-8 -*-
from __future__ import absolute_import, print_function

__author__ = 'bingxili'


QC_API_ACCOUNT_MAIN_QQ = ''
QC_API_ACCOUNT_MAIN_UIN = ''
QC_API_ACCOUNT_MAIN_APP_ID = ''
QC_API_ACCOUNT_MAIN_SECRET_ID = ''
QC_API_ACCOUNT_MAIN_SECRET_KEY = ''
